<div class="animated fadeIn container-fluid">
    <div class="row">
        <!--/.col-->
        <div class="col-12 col-md-6 pr-md-0">
            <form method="POST" [formGroup]="fGeneral">
                <div class="card m-0" >
                    <div class="card-header">
                        <strong>Aplicación externa</strong>
                    </div>
                    <div class="card-body">


                        <div class="form-group">
                            <label for="codigo">Código</label>
                            <input type="text" class="form-control" id="codigo" name="codigo"
                                placeholder="Ingrese el código de la aplicación" formControlName="codigo"
                                [(ngModel)]="aplicacionExterna.codigo"
                                [ngClass]="{'is-invalid': fGeneral.get('codigo').errors && fGeneral.get('codigo').dirty ,'is-valid': !fGeneral.get('codigo').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('codigo').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>

                        

                        <div class="form-group">
                            <label for="vat">Nombre</label>
                            <input type="text" class="form-control" id="nombre"
                                placeholder="Ingrese el nombre de la aplicación" formControlName="nombre"
                                [(ngModel)]="aplicacionExterna.nombre"
                                [ngClass]="{'is-invalid': fGeneral.get('nombre').errors && fGeneral.get('nombre').dirty ,'is-valid': !fGeneral.get('nombre').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('nombre').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>
                        <div class="form-group">
                            <label for="url">Url aplicación</label>
                            <input type="text" class="form-control" id="url"
                                placeholder="Ingrese la dirección web de la aplicación, informativo" formControlName="urlAplicacion"
                                [(ngModel)]="aplicacionExterna.urlAplicacion"
                                [ngClass]="{'is-invalid': fGeneral.get('urlAplicacion').errors && fGeneral.get('urlAplicacion').dirty ,'is-valid': !fGeneral.get('urlAplicacion').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('urlAplicacion').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>


                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select class="form-control" id="estado" formControlName="estado"
                                [(ngModel)]="aplicacionExterna.estado" required>
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="tipo">Tipo</label>
                            <select class="form-control" id="tipo" formControlName="tipo"
                                [(ngModel)]="aplicacionExterna.tipo" required>
                                <option value="WEB">WEB</option>
                                <option value="MOVIL">MOVIL</option>
                                <option value="ESCRITORIO">ESCRITORIO</option>
                                <option value="OTRA">OTRA</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea id="descripcion" name="descripcion" rows="3" class="form-control"
                                placeholder="Breve descripción de aplicación" formControlName="descripcion"
                                [(ngModel)]="aplicacionExterna.descripcion"
                                [ngClass]="{'is-invalid': fGeneral.get('descripcion').errors && fGeneral.get('descripcion').dirty ,'is-valid': !fGeneral.get('descripcion').errors}"
                                required></textarea>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('descripcion').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>


                    </div>
                </div>
            </form>
        </div>
        <!--/.col-->
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            <tabset>
                <tab heading="Asociar servicios web">
                    <app-lis-aplicacion-servicio #lstServicio [listaServicio]="aplicacionExterna.listaServicioWeb">
                    </app-lis-aplicacion-servicio>
                </tab>
                <tab heading="Asociar privilegios ">
                    <app-lis-aplicacion-usuario #lstUsuario [listaUsuarioWs]="aplicacionExterna.listaUsuarioAplicacion">
                    </app-lis-aplicacion-usuario>
                </tab>

                <tab heading="Asociar ip-valida ">
                    <app-lis-aplicacion-ip #lstIpValida [listaIpValidaApxWs]="aplicacionExterna.listaIpAplicacion">
                    </app-lis-aplicacion-ip>
                </tab>
            </tabset>
        </div>
    </div>
    <!--/.row-->
    <div class="row my-2">
        <div class="col-12"><div class="borde-arriba"></div></div>
        <div class="col-12 text-right py-2">
            <button type="button" class="btn btn-primary pull-right" [disabled]="fGeneral.invalid"
                (click)="irRegistar()">
                Registrar
            </button>
        </div>
    </div>
</div>
<app-ventana-modal #alerta></app-ventana-modal>