<div class="animated fadeIn">
    <div class="row">

        <!--/.col-->
        <div class="col-sm-6">
            <form method="POST"   [formGroup]="fGeneral">
            <div class="card">
                <div class="card-header">
                    <strong>Aplicación Externa</strong>
                </div>
                <div class="card-body">
                    
                    
                    <div class="form-group">
                        <label for="codigo">Codigo</label>
                        <input type="text" class="form-control" id="codigo" name="codigo" 
                            placeholder="Ingrese el codigo de la aplicación"
                            formControlName="codigo"
                            [(ngModel)]="aplicacionExterna.codigo" 
                            [ngClass]="{'is-invalid': fGeneral.get('codigo').errors && fGeneral.get('codigo').dirty ,'is-valid': !fGeneral.get('codigo').errors}"
                            required autofocus 
                        >
                        <div class="invalid-feedback" *ngIf="fGeneral.get('codigo').hasError('required')"><small>Campo requerido</small></div>
                    </div>


                    
                        <div class="form-group">
                        <label for="vat">Nombre</label>
                        <input type="text" class="form-control" id="nombre" 
                            placeholder="Ingrese el nombre de la aplicacion"
                            formControlName="nombre"
                            [(ngModel)]="aplicacionExterna.nombre" 
                            [ngClass]="{'is-invalid': fGeneral.get('nombre').errors && fGeneral.get('nombre').dirty ,'is-valid': !fGeneral.get('nombre').errors}"
                            required autofocus 
                        >
                        <div class="invalid-feedback" *ngIf="fGeneral.get('nombre').hasError('required')"><small>Campo requerido</small></div>
                    </div>
                    <div class="form-group">
                        <label for="url">Url Aplicación</label>
                        <input type="text" class="form-control" id="url" 
                            placeholder="Ingrese la direccion web de la aplicacion"
                            formControlName="urlAplicacion"
                            [(ngModel)]="aplicacionExterna.urlAplicacion" 
                            [ngClass]="{'is-invalid': fGeneral.get('urlAplicacion').errors && fGeneral.get('urlAplicacion').dirty ,'is-valid': !fGeneral.get('urlAplicacion').errors}"
                            required autofocus 
                        >
                        <div class="invalid-feedback" *ngIf="fGeneral.get('urlAplicacion').hasError('required')"><small>Campo requerido</small></div>
                    </div>
                        

                    <div class="form-group">
                        <label for="estado">Tipo</label>
                        <select class="form-control" id="estado"
                            formControlName="estado"
                            [(ngModel)]="aplicacionExterna.estado" 
                            required
                        >
                            <option value="ACTIVO">ACTIVO</option>
                            <option value="INACTIVO">INACTIVO</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="tipo">Estado</label>
                        <select class="form-control" id="tipo"
                            formControlName="tipo"
                            [(ngModel)]="aplicacionExterna.tipo" 
                            required

                        >
                            <option value="WEB">WEB</option>
                            <option value="MOVIL">MOVIL</option>
                            <option value="ESCRITORIO">ESCRITORIO</option>
                            <option value="OTRA">OTRA</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea id="descripcion" name="descripcion" rows="3" class="form-control" 
                            placeholder="Contenido"
                            formControlName="descripcion"
                            [(ngModel)]="aplicacionExterna.descripcion" 
                            [ngClass]="{'is-invalid': fGeneral.get('descripcion').errors && fGeneral.get('descripcion').dirty ,'is-valid': !fGeneral.get('descripcion').errors}"
                            required
                        ></textarea>
                        <div class="invalid-feedback" *ngIf="fGeneral.get('descripcion').hasError('required')"><small>Campo requerido</small></div>
                    </div>   
                
                
                </div>

                <div class="card-footer">
                    <button type="button" class="btn btn-primary pull-right"
                        [disabled]="fGeneral.invalid" 
                        (click)="registarAplicacionExterna()"
                     >
                     Registar Cambios
                    
                    </button>
                </div>

            </div>
            </form>
        </div>
        <!--/.col-->
        <div class="col-sm-6">

            <tabset>
                <tab heading="Servicios Web">
                        <app-lis-aplicacion-servicio [listaServicio]="aplicacionExterna.listaServicioWeb"></app-lis-aplicacion-servicio>
                </tab>
                <tab heading="Usuario Aplicación">
                        <app-lis-aplicacion-usuario  [listaUsuarioWs]="aplicacionExterna.listaUsuarioAplicacion"></app-lis-aplicacion-usuario>
                </tab>
            </tabset>


                
        </div>
    </div>
    <!--/.row-->




</div>