<div class="card m-0 scroll-eq-y">
    <div class="card-body">
        <div class="row">
            <div class="col-6"><h6 class="text-center">Destino</h6></div>
            <div class="col-6"><h6 class="text-center">Origen</h6></div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="table-responsive">
                    <table class="table table-sm m-0 table-eq">
                        <thead>
                            <tr>
                                <th scope="col" width="10%"></th>
                                <th scope="col" width="45%" class="text-center">Nombre</th>
                                <th scope="col" width="35%" class="text-center">Valor</th>
                                <th scope="col" width="10%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let objetoDE of listaProcesar; let i = index">
                                <td scope="row" class="text-center max-ancho">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="nSelDestino{{i}}" name="nSelDestino" class="custom-control-input"
                                        (click)="selDestino(i)">
                                        <label class="custom-control-label" for="nSelDestino{{i}}"></label>
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" type="text" [(ngModel)]="objetoDE.nombreEquivalencia" 
                                    [value]="objetoDE.nombreEquivalencia ? objetoDE.nombreEquivalencia : null" [name]="nombreEquivalencia+i">
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" type="text" [(ngModel)]="objetoDE.valorEquivalente" 
                                    [value]="objetoDE.valorEquivalente ? objetoDE.valorEquivalente : null" [name]="valorEquivalente+i"
                                    style="text-align: center">
                                </td>
                                <th scope="row" class="text-center"><a href="javascript:;" (click)="suprimirDestino(i)"><i class="fa fa-times" aria-hidden="true"></i></a></th>
                            </tr>
                            <tr>
                                <th scope="row" class="text-center"><a href="javascript:;" (click)="addDestino()"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
                                <td>
                                    <input class="form-control form-control-sm" type="text" name="nombreEquivalenciaX"
                                    [(ngModel)]="detalleEquivalencia.nombreEquivalencia">
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" type="text" name="valorEquivalenteX"
                                    [(ngModel)]="detalleEquivalencia.valorEquivalente" style="text-align: center">
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-6" style="border-left: 1px dashed #CCC;">
                <div class="table-responsive">
                    <table class="table table-sm m-0 table-eq">
                        <thead>
                            <tr>
                                <th scope="col" width="10%"></th>
                                <th scope="col" width="50%" class="text-center">Nombre</th>
                                <th scope="col" width="45%" class="text-center">Valor</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let objetoAC of listaCompuestos; let i = index">
                                <th scope="row" class="text-center">
                                    <ng-template [ngIf]="inicialSelected">
                                        <a href="javascript:;" (click)="suprimirOrigen(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                    </ng-template>
                                </th>
                                <td>
                                    <ng-template [ngIf]="inicialSelected" [ngIfElse]="elseBlock">
                                        <input class="form-control form-control-sm" type="text" 
                                        [(ngModel)]="objetoAC.nombreOrigen" 
                                        [value]="objetoAC.nombreOrigen ? objetoAC.nombreOrigen : null" 
                                        [name]="nombreOrigen+i"
                                        (focusout)="procesarOrigenComplementarios()">
                                    </ng-template>
                                    <ng-template #elseBlock>
                                        <div class="truncate-nombre" title="{{objetoAC.nombreOrigen}}">{{objetoAC.nombreOrigen}}</div>
                                    </ng-template>
                                </td>
                                <td>
                                    <input class="form-control form-control-sm" type="text" [(ngModel)]="objetoAC.valorOrigen"
                                    [value]="objetoAC.valorOrigen ? objetoAC.valorOrigen : null" [name]="valorOrigen+i"
                                    style="text-align: center">
                                </td>
                            </tr>
                            <ng-template [ngIf]="inicialSelected">
                                <tr>
                                    <th scope="row" class="text-center"><a href="javascript:;" (click)="addOrigen()"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" name="nombreOrigen"
                                        [(ngModel)]="detalleEquivalencia.nombreOrigen">
                                    </td>
                                    <td>
                                        <input class="form-control form-control-sm" type="text" name="valorOrigen"
                                        [(ngModel)]="detalleEquivalencia.valorOrigen" style="text-align: center">
                                    </td>
                                </tr>
                            </ng-template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-ventana-modal #alerta></app-ventana-modal>