.truncate-nombre {
	width: 120px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.truncate-valor {
	width: 69px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}