<div class="animated fadeIn container-fuid">
    <div class="row pl-integrador-15">
        <div class="col-12 col-md-6 col-lg-3 pl-md-0 mb-3">
            <div class="card text-white bg-success m-0">
                <div class="card-body pb-0">
                    <div class="btn-group float-right" dropdown>
                       <!--
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                            <i class="icon-settings"></i>
                        </button>
                     
                    <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <a class="dropdown-item" routerLink="/aplicacion/add-appexterna" >Agregar</a>
                        </div>
                    -->
                    </div>
                    <div class="text-value"><span routerLink="/aplicacion/add-appexterna" style="cursor: pointer">AGREGAR</span></div>
                    <div>- - - - - -</div>
                    <div>- - - - - -</div>
                    <div>- - - - - -</div>
                    <div>- - - - - -</div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:10px;"></div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 col-lg-3 pl-md-0 mb-3" *ngFor="let appVO of listadoAplicacionExterna; let i=index">
            <div class="card text-white bg-info m-0">
                <div class="card-body pb-0">
                    <div class="btn-group float-right" dropdown>
                        <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
                            <i class="icon-settings"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
                            <a class="dropdown-item" (click)="modificar(i)">Modificar</a>
                            <a class="dropdown-item" (click)="irEliminar (i)">Eliminar</a>
                        </div>
                    </div>
                    <div class="text-value">{{appVO.codigo}}</div>
                    <div class="text-truncate">{{appVO.nombre | uppercase}}</div>
                    <div class="text-truncate">{{appVO.descripcion}}</div>
                    <div class="text-truncate">{{appVO.urlAplicacion}}</div>
                    <div class="text-truncate">{{appVO.tipo}}</div>
                    <div class="chart-wrapper mt-3 mx-3" style="height:10px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-ventana-modal #alerta></app-ventana-modal>