<!--
<div class="animated fadeIn">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Parámetros</strong>
                        </div>
                        <div class="card-body">
                        -->  
                   
                            <app-upload-parametro #parametroComponente></app-upload-parametro>
<!--
                    <button (click)="procesarArchivo()">Procesar Archivo</button>
                        <div class="card-footer">
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>-->
