<form method="POST" [formGroup]="fGeneral">
    <div class="animated fadeIn">
        <div class="row">

            <!--/.col-->
            <div class="col-sm-12">

                <div class="card p-2">
                    <div class="card-header">
                        <strong>Clase de implementación </strong>
                    </div>
                    <div class="card-body p-2">

                        <div class="form-group">

                            <div class="row">
                                <div class="form-group col-sm-5">
                                    <label for="codigo">Código</label>
                                    <input type="text" class="form-control" id="codigo" name="codigo"
                                        placeholder="Ingrese el código identificador la clase" formControlName="codigo"
                                        [(ngModel)]="implementacion.codigo"
                                        [ngClass]="{'is-invalid': fGeneral.get('codigo').errors && fGeneral.get('codigo').dirty ,'is-valid': !fGeneral.get('codigo').errors}"
                                        required autofocus>
                                    <div class="invalid-feedback" *ngIf="fGeneral.get('codigo').hasError('required')">
                                        <small>Campo requerido</small></div>
                                </div>


                                <div class="form-group col-sm-7">
                                    <label for="nombre">Nombre</label>
                                    <input type="text" class="form-control" id="nombre" name="nombre"
                                        placeholder="Ingrese un nombre para identificar la clase"
                                        formControlName="nombre" [(ngModel)]="implementacion.nombre"
                                        [ngClass]="{'is-invalid': fGeneral.get('nombre').errors && fGeneral.get('nombre').dirty ,'is-valid': !fGeneral.get('nombre').errors}"
                                        required autofocus>
                                    <div class="invalid-feedback" *ngIf="fGeneral.get('nombre').hasError('required')">
                                        <small>Campo requerido</small></div>
                                </div>
                            </div>


                            <div class="row">


                                <div class="form-group col-sm-6">
                                    <label for="tipoServicio">Protocolo</label>
                                    <select class="form-control" id="tipoServicio" formControlName="tipoServicio"
                                        [(ngModel)]="implementacion.tipoServicio" required>
                                        <option value="REST">REST</option>
                                        <option value="SOAP">SOAP</option>
                                    </select>
                                </div>




                                <div class="form-group col-sm-6">
                                    <label for="estado">Estado</label>
                                    <select class="form-control" id="estado" formControlName="estado"
                                        [(ngModel)]="implementacion.estado" required>
                                        <option value="ACTIVO">ACTIVO</option>
                                        <option value="INACTIVO">INACTIVO</option>
                                    </select>
                                </div>

                            </div>

                            <div class="row">

                                <div class="form-group col-sm-12">
                                    <label for="clase">Paquete y nombre de la clase (Recurso Java)</label>
                                    <input type="text" class="form-control" id="clase" name="clase"
                                        placeholder="Ingrese el paquete y el nombre de la clase sin extensión"
                                        formControlName="clase" [(ngModel)]="implementacion.clase"
                                        [ngClass]="{'is-invalid': fGeneral.get('clase').errors && fGeneral.get('clase').dirty ,'is-valid': !fGeneral.get('clase').errors}"
                                        required autofocus>
                                    <div class="invalid-feedback" *ngIf="fGeneral.get('clase').hasError('required')">
                                        <small>Campo requerido</small></div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <div class="form-group">
                                    <label for="archivozip">Archivo ZIP</label>
                                    <app-upload-libreria #libreriaZip></app-upload-libreria>
                                </div>


                            </div>

                        </div>

                    </div>

                    <div class="card-footer p-1">

                        <button type="button" class="btn btn-primary pull-right mr-1" [disabled]="fGeneral.invalid"
                            (click)="irRegistar()">
                            Registrar
                        </button>

                    </div>


                </div>

            </div>

        </div>
        <!--/.row-->
    </div>
</form>
<app-ventana-modal #alerta></app-ventana-modal>