<div class="card">
    <div class="card-body">
        <table #dataTable id="tablapx" class="table table-hover table-sm table-responsive" style="width:100%">
        </table>
    </div>
</div>
<app-ventana-modal #alerta></app-ventana-modal>

<!--
<div class="card m-0">
    <div class="card-body b-0">
        <table class="table table-sm m-0">
            <thead>
                <tr>
                    <th style="width:15%"></th>
                    <th style="width:35%">Código</th>
                    <th style="width:60%">Aplicación</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let apex of listaAplicacion | paginate:  { itemsPerPage: 5, currentPage: p ,  id: 'app-apex'}  ; let i=index;">
                    <td>
                        <div class="cnt-switch">
                            <label class="switch switch-3d switch-success">
                            <input type="checkbox" class="switch-input " name="idAplicacion" [(ngModel)]="apex.checkeado"
                            (ngModelChange)="actualizarEstadoUsuario(i,$event)">
                            <span class="switch-slider"></span>
                            </label>
                        </div>
                    </td>

                    <td>{{apex.codigo}}</td>
                    <td>{{apex.nombre}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer p-1 text-right">
        <pagination-controls id="app-apex" (pageChange)="p = $event" maxSize="5" directionLinks="true"
            autoHide="true" responsive="true" previousLabel="" nextLabel=" " screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>
    </div>
</div>
-->