




<div class="card">
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Simple Table
    </div>
    <div class="card-body">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Metodo</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let wese of listaServicio | paginate:  { itemsPerPage: 7, currentPage: p1 ,  id: 'app-servicio'} ; let i=index;">
                    <td>
                        <label class="switch switch-3d switch-success">
                                <input type="checkbox" class="switch-input" name="idServicio" 
                                    [(ngModel)]="wese.checkeado"
                                    (ngModelChange)="actualizarEstadoServicio(i,$event)"
                                >
                            <span class="switch-slider"></span>
                        </label>
                    </td>
                    <td>{{wese.codigo}}</td>
                    <td>{{wese.nombre}}</td>
                    <td>{{wese.metodo}}</td>

                </tr>
            </tbody>
        </table>
    </div>

    <div class="card-footer">

        <pagination-controls 
            id="app-servicio"
            (pageChange)="p1 = $event" 
            maxSize="7" 
            directionLinks="true" 
            autoHide="true" 
            responsive="true"
            previousLabel="" 
            nextLabel=" " 
            screenReaderPaginationLabel="Pagination" 
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
        >
        </pagination-controls>

       <!--
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Prev</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    -->

    </div>
</div>
