<div class="card m-0">
    <div class="card-header">
      <span id="botonx">
        <span style="float: left"><b>Formato json</b></span>
        <span style="float: right">
          <i class="fa fa-clipboard" aria-hidden="true" style="font-size: 15px; cursor:pointer" (click)="copiar()"></i>&nbsp;&nbsp;
          <i class="fa fa-download" *ngIf="tipoLista!='array'" aria-hidden="true" style="font-size: 15px; cursor:pointer"  (click)="descargar()"></i>&nbsp;&nbsp;&nbsp;
        </span>
      </span>
    </div>
    <div class="card-body text-content cnt-json">
        <span *ngIf="null != listaParametros; else elseLista">
<pre class="brush: json language-json m-0" #myDiv>
<code class="language-json"><span class="token punctuation">{{'{'}}</span>
<ng-container *ngTemplateOutlet="tipoLista=='array'?arrayp:inicio"></ng-container>
<span *ngFor="let param of listaParametros; last as isLast; let i=index;"><ng-container [ngTemplateOutlet]="null == param.listaAtributoCompuesto? (param.tipoDato=='ARRAY'?arrayPrincial:simple):compuesto" [ngTemplateOutletContext]="{param:param, isLast:isLast, espacios:'    '}"></ng-container><span *ngIf="null != param.listaAtributoCompuesto || param.tipoDato=='ARRAY'"></span></span>
<span class="token punctuation" >{{ tipoLista!='array'?'}':']' }}</span><span *ngIf="servicioWeb.protocolo=='SOAP' && tipoLista!='array' else vacio"><span class="token punctuation">,</span><ng-container *ngTemplateOutlet="tipoIngreso"></ng-container></span><span *ngIf="tipoLista!='array' else puntos"></span>
<span class="token punctuation">{{'}'}}</span>
</code>
</pre>

<pre class="brush: sql language-sql mt-2">
<code class="language-sql"><span class="sql-comentario">-- Comentarios para las columnas:</span>
<span *ngFor="let param of listaParametros; last as isLast"><span class="sql-reservado">COMENTARIO DE COLUMNA</span> <span class="sql-columna">{{param.parametro}}</span>
       <span class="sql-reservado">ES</span> <span class="sql-string">'{{param.descripcion}}'</span><span>;</span><span *ngIf="!isLast"><br></span></span></code>
</pre>
        </span>
        <ng-template #elseLista>No hay datos para mostrar.</ng-template>
    </div>
</div>





<ng-template #inicio><span class="token property">"tipoRetorno"</span><span class="token operator">:</span> <span class="token string">"DataObject"</span><span class="token punctuation">,</span>
  <span class="token property">"parametros"</span><span class="token operator">:</span> <span class="token punctuation">{{'{'}}</span></ng-template>

<ng-template #arrayp><span class="token operator">...</span>
  <span class="token property">"{{parametro.aliasColumna}}"</span><span class="token operator">:</span> <span class="token punctuation">{{'['}}</span></ng-template>

  
<ng-template #arrayPrincial let-param="param" let-isLast="isLast" let-espacios="espacios">{{espacios}}<span class="token property">"{{param.aliasColumna}}"</span><span class="token operator">:</span> <span class="token punctuation">{{'[{'}}</span>
<span *ngFor="let arrayLst of param.listaArray;let k=index; last as isLast2;"><span *ngIf="k==0 && arrayLst.tipoDato!='ARRAY'"></span><ng-container [ngTemplateOutlet]="null == arrayLst.listaAtributoCompuesto?(arrayLst.tipoDato =='ARRAY'?arrayPrincial:simpleInterno):compuestoInterno" [ngTemplateOutletContext]="{param:arrayLst, isLast:isLast2, espacios:('    '+espacios)}"></ng-container><span *ngIf="null != arrayLst.listaAtributoCompuesto;else espacio"></span></span>
<span class="token punctuation">{{espacios}}{{'}]'}}</span><span *ngIf="!isLast"><span class="token punctuation">,</span></span>
</ng-template>


<ng-template #simpleInterno let-param="param" let-isLast="isLast" let-espacios="espacios">{{espacios}}<span class="token property">"{{param.aliasColumna}}"</span><span class="token operator">:</span><span class="token string"><span *ngIf="null != param.valorFijo; else elseBlock">"{{param.valorFijo}}"</span><ng-template #elseBlock><span *ngIf="'DATE' == param.tipoDato; else elseDate">"dd-MM-yyyy 00:00:00"</span><ng-template #elseDate>"{{param.tipoDato}}({{param.longitudFormato}})"</ng-template></ng-template></span><span *ngIf="!isLast"><span class="token punctuation">,</span><br></span></ng-template>


<ng-template #simple let-param="param" let-isLast="isLast" let-espacios="espacios">{{espacios}}<span class="token property">"{{param.aliasColumna}}"</span><span class="token operator">:</span><span class="token string"><span *ngIf="null != param.valorFijo; else elseBlock">"{{param.valorFijo}}"</span><ng-template #elseBlock><span *ngIf="'DATE' == param.tipoDato; else elseDate">"dd-MM-yyyy 00:00:00"</span><ng-template #elseDate>"{{param.tipoDato}}({{param.longitudFormato}})"</ng-template></ng-template></span><span *ngIf="!isLast"><span class="token punctuation">,</span><br></span></ng-template>


<ng-template #compuesto let-param="param" let-espacios="espacios" >    {{espacios}}<span class="token property">"{{param.aliasColumna}}"</span><span class="token operator">:</span><span class="token punctuation">{{'{'}}</span>
<span *ngFor="let attcompuesto of param.listaAtributoCompuesto | keyvalue;let k=index; last as isLast2;"><span class="token property">        {{espacios}}{{attcompuesto.key}}</span><span class="token operator">:</span><span class="token string">{{attcompuesto.value}}</span><span *ngIf="!isLast2"><span class="token punctuation">,</span><br></span></span>
<span class="token punctuation">    {{espacios}}{{'}'}}</span><span *ngIf="!isLast2"><span class="token punctuation">,</span></span>                 
</ng-template>


<ng-template #compuestoInterno let-param="param" let-espacios="espacios" >{{espacios}}<span class="token property">"{{param.aliasColumna}}"</span><span class="token operator">:</span><span class="token punctuation">{{'{'}}</span>
<span *ngFor="let attcompuesto of param.listaAtributoCompuesto | keyvalue;let k=index; last as isLast2;"><span class="token property"><span *ngIf="k==0">    {{espacios}}</span><span *ngIf="k!=0">    {{espacios}}</span>{{attcompuesto.key}}</span><span class="token operator">:</span><span class="token string">{{attcompuesto.value}}</span><span *ngIf="!isLast2"><span class="token punctuation">,</span><br></span></span>
<span class="token punctuation">{{espacios}}{{'}'}}</span><span *ngIf="!isLast2"><span class="token punctuation">,</span></span>                 
</ng-template>


<ng-template #tipoIngreso>
  <span class="token property">"tipoIngreso"</span><span class="token operator">:{{'{'}}</span> 
  <span class="token property">    "forzar"</span><span class="token operator">:</span><span class="token string">"false"</span><span class="token punctuation">,</span>
  <span class="token property">    "ingreso"</span><span class="token operator">:</span><span class="token string">"persona,aspirante,liquidacion"</span><span class="token punctuation">,</span>
  <span class="token property">    "id"</span><span class="token operator">:</span><span class="token string">"primary-key"</span>
  <span class="token punctuation">{{'}'}}</span>
</ng-template>

<ng-template #puntos>
  <span class="token punctuation">...</span></ng-template>

<ng-template #vacio></ng-template>
<ng-template #espacio></ng-template>

