<form method="POST" [formGroup]="fGeneral">
    <div class="animated fadeIn container-fluid">
        <div class="row">
            <!--/.col-->
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <strong>Parámetro tipo array</strong>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-12 col-md-8">
                                <label for="codigo">Código</label>
                                <input type="text" class="form-control" id="codigo" name="codigo"
                                    placeholder="Ingrese el código del parámetro" formControlName="codigo"
                                    [(ngModel)]="listaParametro.codigo"
                                    [ngClass]="{'is-invalid': fGeneral.get('codigo').errors && fGeneral.get('codigo').dirty ,'is-valid': !fGeneral.get('codigo').errors}"
                                    required autofocus>
                                <div class="invalid-feedback" *ngIf="fGeneral.get('codigo').hasError('required')">
                                    <small>Campo requerido</small></div>
                            </div>

                            <div class="form-group col-12 col-md-4">
                                <label for="estado">Estado</label>
                                <select class="form-control" id="estado" formControlName="estado"
                                    [(ngModel)]="listaParametro.estado" required>
                                    <option value="ACTIVO">ACTIVO</option>
                                    <option value="INACTIVO">INACTIVO</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-12">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombre" name="nombre"
                                    placeholder="Ingrese el nombre del servicio web" formControlName="nombre"
                                    [(ngModel)]="listaParametro.nombre"
                                    [ngClass]="{'is-invalid': fGeneral.get('nombre').errors && fGeneral.get('nombre').dirty ,'is-valid': !fGeneral.get('nombre').errors}"
                                    required autofocus>
                                <div class="invalid-feedback" *ngIf="fGeneral.get('nombre').hasError('required')">
                                    <small>Campo requerido</small></div>
                            </div>
                        </div>
                    </div>

                    <div class="card-footer p-1">
                        <button type="button" class="btn btn-primary pull-right mr-1" [disabled]="fGeneral.invalid"
                            (click)="irRegistar()">
                            Registrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<app-ventana-modal #alerta></app-ventana-modal>