<form method="POST" [formGroup]="fGeneral">
    <div class="animated fadeIn container-fluid">
        <div class="row">
            <!--/.col-->
            <div class="col-12 col-md-6 pr-md-0">
                <div class="card m-0">
                    <div class="card-header">
                        <strong>Servicio Web</strong>
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label for="codigo">Código</label>
                                <input type="text" class="form-control" id="codigo" name="codigo"
                                    placeholder="Ingrese el código de servicio web" formControlName="codigo"
                                    [(ngModel)]="servicioWeb.codigo"
                                    [ngClass]="{'is-invalid': fGeneral.get('codigo').errors && fGeneral.get('codigo').dirty ,'is-valid': !fGeneral.get('codigo').errors}"
                                    required autofocus>
                                <div class="invalid-feedback" *ngIf="fGeneral.get('codigo').hasError('required')">
                                    <small>Campo requerido</small></div>
                            </div>

                            <div class="form-group col-sm-4">
                                <label for="protocolo">Protocolo</label>
                                <select class="form-control" id="protocolo" formControlName="protocolo"
                                    [(ngModel)]="servicioWeb.protocolo" 
                                    required
                                    (change)="cambiarOpcionTexto($event)"
                                    >
                                    <option></option>
                                    <option value="REST">REST</option>
                                    <option value="SOAP">SOAP</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="servicioWeb.protocolo == 'REST'">
                            <label for="url">Url de conexión (informativa)</label>
                            <input type="text" class="form-control" id="url" name="url"
                                placeholder="Ingrese dirección del servicio web" formControlName="url"
                                [(ngModel)]="servicioWeb.url"
                                [ngClass]="{'is-invalid': fGeneral.get('url').errors && fGeneral.get('url').dirty ,'is-valid': !fGeneral.get('url').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('url').hasError('required')">
                                <small>Campo requerido</small></div>

                        </div>

                        <div class="form-group" *ngIf="servicioWeb.protocolo == 'SOAP'">
                            <label for="url">Archivo de descripción WSDL</label>
                            <input type="text" class="form-control" id="url" name="url"
                                placeholder="Ingrese dirección del servicio web" formControlName="url"
                                [(ngModel)]="servicioWeb.url"
                                [ngClass]="{'is-invalid': fGeneral.get('url').errors && fGeneral.get('url').dirty ,'is-valid': !fGeneral.get('url').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('url').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>
    



                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                placeholder="Ingrese el nombre del servicio web" formControlName="nombre"
                                [(ngModel)]="servicioWeb.nombre"
                                [ngClass]="{'is-invalid': fGeneral.get('nombre').errors && fGeneral.get('nombre').dirty ,'is-valid': !fGeneral.get('nombre').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('nombre').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>

                       
                       

                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea id="descripcion" name="descripcion" rows="4" class="form-control"
                                placeholder="Breve descripción del servicio" formControlName="descripcion"
                                [(ngModel)]="servicioWeb.descripcion"
                                [ngClass]="{'is-invalid': fGeneral.get('descripcion').errors && fGeneral.get('descripcion').dirty ,'is-valid': !fGeneral.get('descripcion').errors}"
                                required></textarea>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('descripcion').hasError('required')">
                                <small>Campo requerido</small>
                            </div>
                        </div>

                    </div>



                </div>

            </div>
            <!--/.col-->
            <div class="col-12 col-md-6 mt-3 mt-md-0">
                <tabset>
                    <tab heading="Información de servicios web">
                        <div class="form-group">
                            <label for="metodo">Método</label>
                            <select class="form-control" id="metodo" formControlName="metodo"
                                [(ngModel)]="servicioWeb.metodo" required>
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                                <option value="PUT">PUT</option>
                                <option value="DELETE">DELETE</option>
                            </select>
                        </div>
                        

                        <div class="form-group">
                            <label for="tipo">Tipo</label>
                            <select class="form-control" id="tipo" formControlName="tipo" [(ngModel)]="servicioWeb.tipo"
                                required>
                                <option value="CONSULTA" *ngIf="servicioWeb.protocolo == 'REST'">CONSULTA</option>
                                <option value="TABLA" *ngIf="servicioWeb.protocolo == 'REST'">TABLA</option>
                                <option value="CLASE">CLASE</option>
                                <!--<option value="MULTITABLAS">MULTITABLAS</option>-->
                            </select>
                        </div>


                        <div class="form-group" *ngIf="servicioWeb.protocolo == 'REST' && servicioWeb.tipo == 'TABLA' ">
                            <label for="query">Esquema . tabla</label>
                            <input type="text" class="form-control" id="query" name="query"
                            placeholder="Ingrese el esquema y nombre de tabla. ejempo:academico.estudiantepensum"
                            formControlName="query" [(ngModel)]="servicioWeb.query" autofocus>
                        </div>
                        
                        
                        <div class="form-group" *ngIf="servicioWeb.protocolo == 'REST' && (servicioWeb.tipo != 'CLASE' && servicioWeb.tipo != 'TABLA')">
                            <label for="query">Query</label>
                            <textarea id="query" name="query" rows="3" class="form-control"
                                placeholder="Ingrese la consulta sql incluyendo los respectivos esquemas " formControlName="query" [(ngModel)]="servicioWeb.query">
                            </textarea>
                        </div>
                        
                        
                        <div class="form-group" *ngIf="servicioWeb.protocolo == 'REST' && servicioWeb.tipo == 'CLASE' ">
                            <label for="query">Seleccione la clase de implementación REST</label>
                            <select class="form-control" id="query" name="query" [(ngModel)]="servicioWeb.query" formControlName="query"  required>
                                    <option *ngFor="let claseRest of listadoClasesRest" value="{{claseRest.id}}">{{claseRest.nombre}}</option>
                            </select>
                        </div>
                    
                            
                        <div class="form-group" *ngIf="servicioWeb.protocolo == 'SOAP'">
                            <label for="query">Seleccione la clase de implementación SOAP</label>
                            <select class="form-control" id="query" name="query" [(ngModel)]="servicioWeb.query" formControlName="query"  required>
                                    <option *ngFor="let claseRest of listadoClasesSoap" value="{{claseRest.id}}">{{claseRest.nombre}}</option>
                            </select>
                        </div>
                        


                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select class="form-control" id="estado" formControlName="estado"
                                [(ngModel)]="servicioWeb.estado" required>
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </div>



                        <div class="form-group" *ngIf="false">
                            <label for="identificadorPadre">Identificador</label>
                            <input type="text" class="form-control" id="identificadorPadre"
                                name="identificadorPadre" placeholder="Ingrese el identificador del padre para multitabla"
                                formControlName="identificadorPadre"
                                [(ngModel)]="servicioWeb.identificadorPadre" autofocus>
                        </div>


                        <div class="form-group" *ngIf="false">
                            <label for="parametros">Parametros</label>
                            <input type="text" class="form-control" id="parametros" name="parametros"
                                placeholder="Ingrese el parametros del servicio web, modo informativo"
                                formControlName="parametros" [(ngModel)]="servicioWeb.parametros" autofocus>
                        </div>
                    </tab>
                    <tab heading="Conexión a base de datos">
                        <app-jdbc-servicio #jdbcConexion></app-jdbc-servicio>
                    </tab>
                    <tab heading="Formato parametros json">
                        <app-json-parametros [listaParametros]="listaParametros"></app-json-parametros>
                    </tab>
                </tabset>
            </div>
        </div>
        <!--/.row-->
        <div class="row my-2">
            <div class="col-12"><div class="borde-arriba"></div></div>
            <div class="col-12 text-right py-2">
                <button type="button" class="btn btn-primary pull-right" [disabled]="fGeneral.invalid" (click)="irRegistar()">
                    Registrar
                </button>
            </div>
        </div>
    </div>
</form>
<app-ventana-modal #alerta></app-ventana-modal>