<form method="POST" [formGroup]="fGeneral">
    <div class="animated fadeIn container-fuid">
        <div class="row">
            <!--/.col-->
            <div class="col-12 col-md-5 pr-md-0">
                <div class="card">
                    <div class="card-header">
                        <strong>Usuario Servicio Web</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="usuario">Usuario</label>
                            <input type="text" class="form-control" id="usuario" name="usuario"
                                placeholder="Ingrese el usuario para acceso aplicación." formControlName="usuario"
                                [(ngModel)]="userWebService.usuario"
                                [ngClass]="{'is-invalid': fGeneral.get('usuario').errors && fGeneral.get('usuario').dirty ,'is-valid': !fGeneral.get('usuario').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('usuario').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>

                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                placeholder="Ingrese el nombre de usuario" formControlName="nombre"
                                [(ngModel)]="userWebService.nombre"
                                [ngClass]="{'is-invalid': fGeneral.get('nombre').errors && fGeneral.get('nombre').dirty ,'is-valid': !fGeneral.get('nombre').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('nombre').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" name="email"
                                placeholder="Ingrese el correo electrónico del usuario" formControlName="email"
                                [(ngModel)]="userWebService.email"
                                [ngClass]="{'is-invalid': fGeneral.get('email').errors && fGeneral.get('email').dirty ,'is-valid': !fGeneral.get('email').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('email').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>




                        <div class="form-group" *ngIf="!isModificar">
                            <label for="password">Contraseña</label>
                            <input type="text" class="form-control" id="password" name="password"
                                placeholder="Ingrese la contraseña de usuario." formControlName="password"
                                [(ngModel)]="userWebService.password"
                                [ngClass]="{'is-invalid': fGeneral.get('password').errors && fGeneral.get('password').dirty ,'is-valid': !fGeneral.get('password').errors}"
                                required autofocus>
                            <div class="invalid-feedback" *ngIf="fGeneral.get('password').hasError('required')">
                                <small>Campo requerido</small></div>
                        </div>


                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select class="form-control" id="estado" formControlName="estado"
                                [(ngModel)]="userWebService.estado" required>
                                <option value="ACTIVO">ACTIVO</option>
                                <option value="INACTIVO">INACTIVO</option>
                            </select>
                        </div>



                        <div class="form-group">
                            <label for="foto">Foto</label>
                            <app-upload-file #fileAvatar></app-upload-file>
                        </div>



                    </div>
                    <div class="card-footer p-1">
                        <button type="button" class="btn btn-primary pull-right" [disabled]="fGeneral.invalid"
                            (click)="irRegistar()">
                            Registrar
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-7">
                <div class="card m-0">
                    <div class="card-body">
                        <tabset>
                            <tab heading="Perfil">
                                <app-perfil-usuariows [fileAvatar]="fileAvatar" [userWebService]="userWebService"></app-perfil-usuariows>
                            </tab>
                            <tab heading="Aplicaciones" class="p-2" *ngIf="isModificar">
                                <app-apex-usuariows [userWebService]="userWebService"></app-apex-usuariows>   
                            </tab>
                            <tab heading="Ejecución" *ngIf="true">
                                <app-ejec-usuariows [userWebService]="userWebService"></app-ejec-usuariows>
                            </tab>
                        </tabset>
                    </div>
                </div>

            </div>
        </div>
        <!--/.row-->


    </div>
</form>
<app-ventana-modal #alerta></app-ventana-modal>