search {
	color: #73818f;
	opacity: 1;
}

div.dataTables_wrapper div.dataTables_filter label {
	font-weight: 400;
	white-space: nowrap;
	text-align: left;
}

div.dataTables_wrapper div.dataTables_filter {
	text-align: right;
}


.centerm { 
	text-align: center; 
	width: 3%;
}