<div>
    <div *ngIf="error">
        {{ error.message }}
    </div>
    <div *ngIf="uploadResponse.status === 'error'">
        {{ uploadResponse.message }}
    </div>

    <form [formGroup]="form">
        <div class="custom-file">
            <input #file type="file" id="avatar" name="avatar" (change)="onFileChange(file.files,$event)" class="custom-file-input" lang="es">
            <label class="custom-file-label" for="avatar" data-browse="Examinar">Seleccionar archivo</label>
        </div>
    </form>
</div>