<div class="card">
    <!--
    <div class="card-header">
        <i class="fa fa-align-justify"></i> Simple Table
    </div>
-->
    <div class="card-body">
        <table class="table table-sm table-responsive">

            <thead>
                <tr>
                    <th style="width:15%">&nbsp;</th>
                    <th style="width:15%">&nbsp;</th>
                    <th style="width:50%">Nombre</th>
                    <th style="width:15%">Usuario</th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let uswe of listaUsuarioWs | paginate:  { itemsPerPage: 7, currentPage: p2 ,  id: 'app-usuario'}  ; let i=index;">
                    
                    <td>
                        <label class="switch switch-3d switch-success">
                            <input type="checkbox" class="switch-input " name="idServicio" [(ngModel)]="uswe.checkeado"
                                (ngModelChange)="actualizarEstadoUsuario(i,$event)">
                            <span class="switch-slider"></span>
                        </label>
                    </td>
                    <td>
                        <img class="img-circle-40" [src]="uswe.imagen||'/assets/img/avatars/no-disponible.png'">
                    </td>
                    <td>{{uswe.nombre}}</td>
                    <td>{{uswe.usuario}}</td>

                </tr>

            </tbody>
        </table>

    </div>

    <div class="card-footer">

        <pagination-controls id="app-usuario" (pageChange)="p2 = $event" maxSize="9" directionLinks="true"
            autoHide="true" responsive="true" previousLabel="" nextLabel=" " screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
        </pagination-controls>


    </div>