<div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> Simple Table
        </div>
        <div class="card-body">
             <table class="table table-sm">
                <thead>
                    <tr>
                        <th></th>
                        <th>Usuario</th>
                        <th>Correo</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr *ngFor="let uswe of listaUsuarioWs;let i=index;">
                        <td><img alt="admin@bootstrapmaster.com" class="img-avatar" src="assets/img/avatars/6.jpg"></td>
                        <td>{{uswe.usuario}}</td>
                        <td>{{uswe}}</td>
                        <td>
                            <label class="switch switch-3d switch-success">
                                <input type="checkbox" class="switch-input " name="idServicio" 
                                    [(ngModel)]="uswe.checkeado"
                                    (ngModelChange)="actualizarEstadoUsuario(i,$event)"
                                >
                                <span class="switch-slider"></span>
                            </label>
                        </td>
                    <!--   
                        <td>
                            <span class="badge badge-success">Active</span>
                        </td>
                    -->
                    </tr>
                    
                </tbody>
            </table>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Prev</a></li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </div>
    </div>