// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

$colorBorde:#c8ced3;

.fa-1_7x{
    font-size: 1.7em !important;
}
.fa-1_5x{
    font-size: 1.5em !important;
}


.dt-button {
	&.green {
		color: green;
	}
}


.dt-button {
	&.blue {
		color:darkblue
	}
}


.dt-button {
	&.excel {
		color:forestgreen
	}
}

.td-center{
	text-align: center;
	width: 2%;
}


.img-circle-30 {
	border-radius: 50%;
	width: 30px;
	height: 30px;
}

.img-circle-40 {
	border-radius: 50%;
	width: 40px;
	height: 40px;
}

.center{
	text-align: center;
}

.main .container-fluid {
	padding: 0 10px;
}

body {
	font-size: 11px;
}

.borde-arriba {
	border-top: 1px solid $colorBorde;
}

.dataTables_wrapper .dataTables_filter input {
	border: 1px solid $colorBorde;
	border-radius: 0.2rem;
}

.dataTables_wrapper .dataTables_filter {
	display: flex;
	flex-direction: column;
	height: 37px;
	justify-content: center;
}

.dataTables_wrapper .dataTables_filter > label {
	margin: 0;
}

.modal-header .close {
	outline: none;
}

.modal-body {
	font-size: 1rem;
}
.modal-body > p {
	margin: 0;
	text-align: center;
}

.dataTables_wrapper table tbody td, .table tbody td {
	vertical-align: middle;
}

.cnt-switch {
	display: flex;
	justify-content: center;
}

.switch {
	margin: 0;
}

.cnt-header > button:nth-last-child(2) {
	display: none !important;
}